.character-stats{
    justify-content: start;
    flex-wrap: nowrap;
    column-gap: 15px;
    align-items: flex-start;

    meter#energy-meter::-webkit-meter-optimum-value {
        background: #0763e5;
    }
    meter#satiety-meter::-webkit-meter-optimum-value {
        background: red;
    }
    meter#morale-meter::-webkit-meter-optimum-value {
        background: purple;
    }
    
    .resources-section {
        flex-basis: 35%;
        row-gap: 10px;

        .resource-content {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
    
            &:last-child {
                margin-bottom: 0;
            }
    
            label {
                text-align: right;
                flex-basis: 10%;
                margin-right: 8px;
            }
    
            input {
                border: solid gray 1px;
                width: 36px;
            }
    
            meter {
                flex-basis: 60%;
                margin-right: 8px;
            }
    
            .minmax-value-display{
                flex-basis: 30%;
            }
        }
    }

    .attribute-section {
        flex-basis: 65%;
    }

    .rollable-stats {

        .stat-row {
            display: flex;
            align-items: center;
            margin-bottom: 2px;

            &:last-child{
                margin: 0;
            }

            .attr-label {
                flex-basis: 70%;

                label {
                    font-weight: 700;
                }
            }

            .attr-value{
                flex-basis: 30%;
                text-align: center;
                
                input {
                    font-size:14px;
                }
                
                &.prefixed {
                    display: flex;
                    align-items: center;
                    justify-content: start;

                    .prefix {
                        flex-basis: 50%;
                    }

                    input {
                        flex-basis: 50%;
                    }
                }
            }
        }
    }

    .attribute-layout {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 10px;
        row-gap: 10px;
        justify-content: space-between;
    }

    .attr-block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .attr-label {
            font-weight: 700;
            width: 100%;
        }

        .attr-label, .attr-under {
            text-transform: uppercase;
            text-align: center;
        }

        .attr-under {
            font-size: 10px;
            color: rgb(68, 55, 48);
            opacity: 0.7;
        }

        input {
            width: 50px;
            height: 40px; 
            text-align: center;
            font-size: 20px;
            font-weight: 700;
        }
    }
}
