.znz4e {

    .section-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        &.spaced {
            margin-top: 30px;
        }
    }

    .section-spacer {
        height: 80px;
    }

    .combat-controls {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin: 10px 0;
        font-size: 18px;
        margin-bottom:20px;
    }

    .slot-listing {
        display: flex;
        justify-content: space-between;
        width: 220px;
        margin-right: 20px;

        .over-equipped {
            color: red;
        }
    }

    .equipment-filter {
        .filter-button {
            color: white;
            background-color: green;

            &.active {
                pointer-events: none;
                background-color: darkorange;
            }
        }
    }

    .inventory-listing {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        margin-bottom: 15px;

        .bulk-listing {
            flex-basis: 50%;

            h2 {
                display: flex;
                justify-content: space-between;
            }
        }

        .add-item {
            width: 10%;
        }
    }
}