{{#*inline "field"}}
    <div class="settings-field">
        {{#if label}}
            <label>{{localize label}}</label>
        {{/if}}
        <input class="settings-input" type="number" name="{{name}}" value="{{value}}"/>
    </div>
{{/inline}}

<div class="settings-tab">
    <div class="settings-group">
        {{> field label=data.config.baseDiceFace.label name="system.config.baseDiceFace.value" value=data.config.baseDiceFace.value}}
        {{> field label=data.config.maxDamageReduction.label name="system.config.maxDamageReduction.value" value=data.config.maxDamageReduction.value}}
    </div>

    <h2>Costs</h2>
    <div class="settings-group">
        {{#each data.config.cost as |cost key|}}
            {{> field label=cost.label name=(concat "data.config.cost." key ".value") value=cost.value}}
        {{/each}}
    </div>
    <h2>Penalty</h2>
    <div class="settings-group">
        {{#each data.config.penalty.thresholds as |penalty key|}}
            {{> field label=penalty.label name=(concat "data.config.penalty.thresholds." key ".value") value=penalty.value}}
        {{/each}}
        {{#each data.config.penalty.intervals as |penalty key|}}
            {{> field label=penalty.label name=(concat "data.config.penalty.intervals." key ".value") value=penalty.value}}
        {{/each}}
    </div>

</div>