<section class="combat-tab">
    <div class="combat-container">
        <div class="combat-controls">
            <div class="slot-listing">
                <div class="has-tooltip" data-tooltip="{{localize 'ZNZRPG.equipSlotsHint'}}">Equipment Slots</div>
                <div class="minmax-value-display">
                    <div {{#if overEquipped}}class="over-equipped"{{/if}}>{{equippedItemCount}}</div>
                    <span class="divider">&nbsp;/&nbsp;</span>
                    <div {{#if overEquipped}}class="over-equipped"{{/if}}>{{totalSlots}}</div>
                </div>
            </div>
            <div class="equipment-filter">
                <button type="button" class="filter-button" data-filter="all">All</button>
            </div>
            <div class="equipment-filter">
                <button type="button" class="filter-button" data-filter="equipment">Equipment</button>
            </div>
            <div class="equipment-filter">
                <button type="button" class="filter-button" data-filter="weapon">Weapon</button>
            </div>
            <div class="equipment-filter">
                <button type="button" class="filter-button" data-filter="consumable">Consumable</button>
            </div>
            <div class="equipment-filter">
                <button type="button" class="filter-button" data-filter="wearable">Wearable</button>
            </div>
            <div class="equipment-filter">
                <button type="button" class="filter-button" data-filter="trait">Traits</button>
            </div>
            <div class="equipment-filter">
                <button type="button" class="filter-button" data-filter="skill">Skill</button>
            </div>
            <div class="equipment-filter">
                <button type="button" class="filter-button" data-filter="flaw">Flaw</button>
            </div>
        </div>

        {{#if hasEquippedItems}}
            <div class="items-container fixed-width">
                {{#each equippedItems as |equip id|}}
                    {{> item-card card=equip}}
                {{/each}}

                {{#each skills as |skill id|}}
                    {{> item-card card=skill}}
                {{/each}}

                {{#each flaws as |flaw id|}}
                    {{> item-card card=flaw}}
                {{/each}}
            </div>
        {{else}}
            <div class="section-spacer">
                <p>{{localize 'ZNZRPG.noEquippedItems'}}</p>
            </div>
        {{/if}}
    </div>
</section>