{{#*inline "field"}}
    <div class="settings-field">
        {{#if label}}
            <label>{{localize label}}</label>
        {{/if}}
        <input class="settings-input" type="number" name="{{name}}" value="{{value}}"/>
    </div>
{{/inline}}

<div class="settings-tab">
    <div class="settings-group">
        {{> field label=data.config.baseDiceFace.label name="system.config.baseDiceFace.value" value=data.config.baseDiceFace.value}}
        {{> field label=data.config.maxDamageReduction.label name="system.config.maxDamageReduction.value" value=data.config.maxDamageReduction.value}}
        {{> field label=data.config.adrenalineBonus.label name="system.config.adrenalineBonus.value" value=data.config.adrenalineBonus.value}}
    </div>

    <h2>Costs</h2>
    <div class="settings-group">
        {{#each data.config.cost as |cost key|}}
            {{> field label=cost.label name=(concat "data.config.cost." key ".value") value=cost.value}}
        {{/each}}
    </div>
    <h2>Penalty</h2>
    <div class="settings-group">
        {{#each data.config.penalty.thresholds as |penalty key|}}
            {{> field label=penalty.label name=(concat "data.config.penalty.thresholds." key ".value") value=penalty.value}}
        {{/each}}
        {{#each data.config.penalty.intervals as |penalty key|}}
            {{> field label=penalty.label name=(concat "data.config.penalty.intervals." key ".value") value=penalty.value}}
        {{/each}}
    </div>
    <h2>Rest</h2>
    <div class="settings-group">
        {{> field label=data.config.energyPerShortRestHour.label name="system.config.energyPerShortRestHour.value" value=data.config.energyPerShortRestHour.value}}
        {{> field label=data.config.energyPerLongRestHour.label name="system.config.energyPerLongRestHour.value" value=data.config.energyPerLongRestHour.value}}
        {{> field label=data.config.hoursForLongRest.label name="system.config.hoursForLongRest.value" value=data.config.hoursForLongRest.value}}
    </div>
    <h2>Weight</h2>
    <div class="settings-group">
        {{#each data.config.ammoWeight as |weight key|}}
            {{> field label=weight.label name=(concat "data.config.cost." key ".value") value=weight.value}}
        {{/each}}
    </div>
</div>