<section class="combat-tab">
    <div class="side-bar">
        <div class="section-label">Attributes</div>
        <div class="attributes flexcol rollinfo-block">
            {{#each data.attributes as |attr key|}}
                <div class="stat-row">
                    <div class="attr-label rollable roll-icon" data-roll="{{key}}" data-label="{{localize attr.label}}">
                        <div class="tooltip right" style="display:inline-block">
                            <label for="data.attributes.{{key}}.value">
                                {{localize attr.label}}
                            </label>
                            <div class="tooltip-text">
                                {{localize attr.hint}}
                            </div>
                        </div>
                    </div>
                    <div class="attr-value">
                        <input type="text" name="data.attributes.{{key}}.value" value="{{attr.value}}" data-dtype="Number"/>
                    </div>
                </div>
            {{/each}}
        </div>

        <div class="section-label">Combat Skills</div>
        <div class="combatskills flexcol rollinfo-block">
            {{#each data.combatskills as |skill key|}}
                <div class="stat-row">
                    <div class="attr-label rollable roll-icon" data-roll="{{key}}" data-label="{{localize skill.label}}">
                        <div class="tooltip right" style="display:inline-block">
                            <label for="data.combatskills.{{key}}.value">{{localize skill.label}}</label>
                            <div class="tooltip-text">
                                {{localize skill.hint}}
                            </div>
                        </div>
                    </div>
                    <div class="attr-value prefixed">
                        <div class="prefix">{{toUpperCase skill.defaultRoll}}+</div>
                        <input type="text" name="data.combatskills.{{key}}.value" value="{{skill.value}}" data-dtype="Number"/>
                    </div>
                </div>
            {{/each}}
        </div>

        <div class="section-label">
            Survival Skills
            <span class="section-btn"><a class="item-control item-create" title="{{localize 'ZNZRPG.inventoryCreate'}}" data-type="skill"><i class="fas fa-plus"></i>{{localize 'ZNZRPG.addLabel'}}</a></span>
        </div>
        <div class="skills flexcol rollinfo-block">
            {{#each skills as |skill id|}}
                <div class="stat-row item" data-item-id="{{skill._id}}">
                    <div class="attr-label rollable roll-icon">
                        <div class="tooltip right" style="display:inline-block">
                            <label for="{{skill._id}} data-roll="{{skill.system.attributeUsed.value}}">
                                {{skill.name}}
                            </label>
                            {{#ifCond skill.system.description.length '>' 0}}
                                <div class="tooltip-text">
                                    {{editor skill.system.description target="description" button=false editable=false}}
                                </div>
                            {{/ifCond}}
                        </div>
                    </div>
                    <div class="attr-value">
                        <a class="editable-text item-control item-edit">
                            <input type="text" disabled name="{{skill._id}}" value="{{toUpperCase skill.system.attributeUsed.value}}+{{skill.system.level.value}}" data-dtype="Number"/>
                        </a>
                    </div>
                    <!-- <div class="skill-controls">
                        <a class="item-control item-delete" title="{{localize 'ZNZRPG.skillDelete'}}"><i class="fas fa-trash"></i></a>
                    </div> -->
                </div>
            {{/each}}
        </div>
    </div>
    <div class="main-area">
        {{#if rollAbilities.[0]}}
        <div class="ability-section">
            <div class="section-label">Rollable Abilities</div>
            <div class="abilities">
                {{#each rollAbilities as |ability id|}}
                    <div class="ability-block item" data-item-id="{{ability._id}}" data-roll="{{ability.system.roll}}">
                        <div class="ability-image rollable" data-roll="{{ability.system.roll}}">
                            <img src="{{ability.img}}" title="{{ability.name}}"/>
                        </div>
                        <div class="ability-label tooltip right">
                            <label for="{{ability._id}}" class="rollable" data-roll="{{ability.system.roll}}">{{ability.name}}</label>
                            <div class="tooltip-text">
                                {{editor ability.system.description target="description" button=false editable=false}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        {{/if}}

        <div class="equipment-section">
            {{#ifCond equippedWeaponCount '>' 0 }}
                <div class="section-label">{{localize 'ZNZRPG.equippedWeapons'}}</div>
            {{/ifCond}}

            <div class="equipped">
                {{#each equipped.melee_weapon as |equip id|}}
                    <div class="equipped-item weapon item" data-item-id="{{equip._id}}">
                        <div class="equip-info">
                            <a class="attack-image">
                                <img class="rollable" data-roll="attack"  title="{{localize 'ZNZRPG.attackLabel'}}" src="{{equip.img}}" title="{{equip.name}}"/>
                            </a>
                            <div class="equip-text">
                                <a class="item-control item-edit">
                                    <div class="bold name editable-text">
                                        {{equip.name}}
                                    </div>
                                </a>
                                <div>{{localize 'ZNZRPG.meleeWeaponLabel'}}</div>
                                <div>{{localize 'ZNZRPG.damageLabel'}}:&nbsp;&nbsp;{{equip.system.damage.value}}</div>
                            </div>
                        </div>
                        <div class="equip-actions">
                            <div>{{localize 'ZNZRPG.durabilityLabel'}}:&nbsp;&nbsp;{{equip.system.durability.value}}%</div>
                            <a class="item-control item-unequip" title="{{localize 'ZNZRPG.inventoryUnequip'}}"><i class="fas fa-minus-square"></i></a>
                        </div>
                    </div>
                {{/each}}
                {{#each equipped.ranged_weapon as |equip id|}}
                    <div class="equipped-item weapon item" data-item-id="{{equip._id}}">
                        <div class="equip-info">
                            <a class="attack-image">
                                <img class="rollable" data-roll="attack"  title="{{localize 'ZNZRPG.attackLabel'}}" src="{{equip.img}}" title="{{equip.name}}"/>
                            </a>
                            <div class="equip-text">
                                <div class="name-row">
                                    <a class="item-control item-edit">
                                        <div class="bold name editable-text">
                                            {{equip.name}}
                                        </div>
                                    </a>
                                </div>
                                <div>{{localize 'ZNZRPG.rangedWeaponLabel'}}</div>
                                <div>{{localize 'ZNZRPG.damageLabel'}}:&nbsp;&nbsp;{{equip.system.damage.value}}</div>
                                <div class="minmax-value-display small">
                                    <span>{{localize 'ZNZRPG.ammoLabel'}}:&nbsp;&nbsp;</span>
                                    <span>{{equip.system.ammo.current}}</span>
                                    <span class="divider">&nbsp;/&nbsp;</span>
                                    <span>{{equip.system.ammo.max}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="equip-info equip-description">
                            {{editor ability.system.description target="description" button=false editable=false}}
                        </div>
                        <div class="equip-actions">
                            <div>{{localize 'ZNZRPG.durabilityLabel'}}:&nbsp;&nbsp;{{equip.system.durability.value}}%</div>
                            <a class="item-control item-unequip" title="{{localize 'ZNZRPG.inventoryUnequip'}}"><i class="fas fa-minus-square"></i></a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <div class="equipment-section">
            <div class="section-label">{{localize 'ZNZRPG.equippedArmor'}}</div>
            <div class="equipped flexcol">
                {{#each equipped.armor as |equip id|}}
                    <div class="equipped-item weapon item" data-item-id="{{equip._id}}">
                        <div class="equip-info equip-name">
                            <img src="{{equip.img}}" title="{{equip.name}}"/>
                            <div class="name">
                                <div class="bold">{{equip.name}}</div>
                                <div>{{capitalize equip.system.weaponType.value}} {{localize 'ZNZRPG.weaponLabel'}}</div>
                            </div>
                        </div>
                        <div class="equip-info equip-stats">
                            <div class="minmax-value-display small">
                                <span>{{localize 'ZNZRPG.usesLabel'}}:&nbsp;&nbsp;</span>
                                <span>{{equip.system.uses.current}}</span>
                                <span class="divider">&nbsp;/&nbsp;</span>
                                <span>{{equip.system.uses.max}}</span>
                            </div>
                        </div>
                        <div class="equip-info equip-actions">
                            <a class="item-control item-unequip" title="{{localize 'ZNZRPG.inventoryUnequip'}}"><i class="fas fa-minus-square"></i></a>
                            <a class="item-control item-edit" title="{{localize 'ZNZRPG.inventoryView'}}"><i class="fas fa-eye"></i></a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        


    </div>
</section>