<section class="abilities item-listing">
    <div class="section-heading">
        <h2>{{localize 'ZNZRPG.skillLabel'}}</h2>
        <div class="add-item">
            <h2>
                <a class="item-control item-create" title="{{localize 'ZNZRPG.addLabel'}}" data-type="skill"><i class="fas fa-plus"></i> {{localize 'ZNZRPG.addLabel'}}</a>
            </h2>
        </div>
    </div>

    {{#if skills.length}}
        <div class="items-container">
            {{#each skills as |equip id|}}
                {{> item-card card=equip isInventory=true}}
            {{/each}}
        </div>
    {{else}}
        <div class="section-spacer">
            <p>{{localize 'ZNZRPG.noSkills'}}</p>
        </div>
    {{/if}}


    
    <div class="section-heading spaced">
        <h2>{{localize 'ZNZRPG.flawLabel'}}</h2>
        <div class="add-item">
            <h2>
                <a class="item-control item-create" title="{{localize 'ZNZRPG.addLabel'}}" data-type="flaw"><i class="fas fa-plus"></i> {{localize 'ZNZRPG.addLabel'}}</a>
            </h2>
        </div>
    </div>

    {{#if flaws.length}}
        <div class="items-container">
            {{#each flaws as |equip id|}}
                {{> item-card card=equip isInventory=true}}
            {{/each}}
        </div>
    {{else}}
        <div class="section-spacer">
            <p>{{localize 'ZNZRPG.noFlaws'}}</p>
        </div>
    {{/if}}

</section>