.znz4e {
    .combat-container {

        .slot-listing {
            width: 45%;

            h2 {
                display: flex;
                justify-content: space-between;
            }

            .minmax-value-display {
                .over-equipped {
                    color: red;
                }
            }
        }
    }
}