<section class="inventory item-listing">
    <div class="inventory-listing">
        <div class="bulk-listing flexrow">
            <h2>
                Total Bulk Carried
                <div>
                    {{carriedWeight}}
                </div>
            </h2>
        </div>
        <div class="add-item">
            <h2>
                <a class="item-control item-create" title="{{localize 'ZNZRPG.addLabel'}}" data-type="inventory"><i class="fas fa-plus"></i> {{localize 'ZNZRPG.addLabel'}}</a>
            </h2>
        </div>
    </div>
    <div class="items-container">
        {{#each inventory as |equip id|}}
            {{> item-card card=equip isInventory=true}}
        {{/each}}
    </div>
</section>