<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
	<header class="sheet-header">
		
		<div class="sheet-header-container">
			<div class="flexrow">
				<h1 class="charname">
					<input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'ZNZRPG.namePlaceholder'}}"/>
				</h1>
			</div>
			<div class="flexrow">
				<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
                <div class="description">
                    <h2>Description</h2>
                    {{editor enrichedDescription target="system.description" button=true editable=editable}}
                </div>
			</div>
		</div>
	</header>
</form>
