.znz-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;

    .card-header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;

        .card-title {
            flex: 1 1 100%;
            text-align: center;
            border: solid 3px black; 
            border-radius: 5px;
            box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
            display:flex;
            align-items: center;
            padding: 3px 0;

            h3 {
                border: none;
                margin: 0;
            }
        }
        
        .card-corner{
            flex-basis: 20%;

            &:first-child {
                margin-right:5px;
            }

            &:last-child {
                margin-left:5px;
            }

            img {
                width: 30px;
            }
        } 
    }

    .card-image {
        background-color: transparent;
        img {
            width: 180px;
            height: auto;
        }
    }
}

.items-container {
    .znz-card {
        width: 225px;
    }
}