.znz4e {
    .combat-tab {
        display: flex;
        margin-top: 15px;

        .side-bar {
            flex-basis: 25%;
            margin-right: 20px;
        }

        .main-area {
            flex-basis: 75%;
        }

        .section-label {
            font-size: 14px;
            position: relative;

            .section-btn {
                font-size: 12px;
                text-align: right;
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }

        .abilityscore-row {
            display: flex;
            align-items: center;
            margin-bottom: 2px;

            &:last-child{
                margin: 0;
            }

            .attr-label {
                flex-basis: 70%;

                label {
                    font-weight: 700;
                }
            }

            .attr-value{
                flex-basis: 30%;
                text-align: center;
                
                input {
                    font-size:14px;
                }
                
                &.prefixed {
                    display: flex;
                    align-items: center;
                    justify-content: end;
                }
            }


            .skill-edit {
                font-size: 12px;
                margin-right: 3px;
            }
        }


        .abilityscore-section {
            padding: 5px;
            border: solid 1px black;
            margin-bottom: 10px;
        }

        .skills {
            min-height: 50px;

            .abilityscore-row {
                padding: 5px 0;
                border-bottom: 2px groove #eeede0;
            }
        }
    }
}