.znz4e {
    .combat-tab {
        display: flex;
        margin-top: 15px;

        .side-bar {
            flex-basis: 30%;
            margin-right: 10px;
        }

        .main-area {
            flex-basis: 70%;
        }

        .section-label {
            font-size: 14px;
            position: relative;

            .section-btn {
                font-size: 12px;
                text-align: right;
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }

        .stat-row {
            display: flex;
            align-items: center;
            margin-bottom: 2px;

            &:last-child{
                margin: 0;
            }

            .attr-label {
                flex-basis: 70%;

                label {
                    font-weight: 700;
                }
            }

            .attr-value{
                flex-basis: 30%;
                text-align: center;
                
                input {
                    font-size:14px;
                }
                
                &.prefixed {
                    display: flex;
                    align-items: center;
                    justify-content: start;

                    .prefix {
                        flex-basis: 50%;
                    }

                    input {
                        flex-basis: 50%;
                    }
                }
            }
        }

        .rollinfo-block {
            padding: 5px;
            border: solid 1px black;
            margin-bottom: 10px;
        }

        .skills {
            min-height: 50px;

            .stat-row {
                padding: 5px 0;
                border-bottom: 2px groove #eeede0;
            }
        }



        .ability-section {
            margin-bottom: 20px;

            .abilities {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                column-gap: 10px;
                row-gap: 10px;
    
                .ability-block {
                    flex-basis: 30%;
                    border: 2px groove #f7f7f7;
                    display: flex;
                    align-items: center;
    
                    .ability-image {
                        flex-basis: 30%;
                        margin-right: 5px;
                        font-size:0;
                        line-height:0;
                        
                        img {
                            height: 100%;
                            width: auto;
                        }
                    }
    
                    .ability-label {
                        flex-basis: 60%;
                    }
    
                    .ability-edit {
                        text-align: right;
                        align-self: flex-start;
                    }
                }
            }
        }




        .equipment-section{

            .equipped {
                display: flex;
                flex-wrap: wrap;
                column-gap: 3px;
            }
            
            .equipped-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 3px groove #f7f7f7;
                padding: 3px;
                width: 225px;
                position: relative;

                .equip-info {
                    display: flex;
                    margin-bottom: 3px;
                    flex: 1;

                    .attack-image {
                        flex-basis: 30%;
                        margin-right: 5px;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }


                    .equip-text {
                        flex-basis: 70%;
                    }
                }
                
                .equip-description {
                    width: 100%;
                    text-align: left;
                }

                .equip-actions {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    width: 100%;

                    .fas {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}