.znz4e {
    /*** Tool Tip ****/
    .tooltip {
        cursor:pointer;
        position: relative;
        overflow: visible;

        .tooltip-text {
            visibility: hidden;
            width: 250px;
            background-color: #000;
            color: #fff;
            border-radius: 6px;
            padding: 8px;
            position: absolute;
            z-index: 100;
            top: 100%; /* Position below the element */
            left: 50%;
            transform: translateX(-50%); /* Center the tooltip horizontally */
            opacity: 0;
            transition: opacity 0.3s, visibility 0.3s;
        }

        &.right {
            .tooltip-text {
                left: 100%;
                transform: none;
                top: 50%;
                transform: translateY(-50%);
                margin-left: 10px;
            }
        }

        &:hover {
            .tooltip-text {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    /*** Single value display ***/
    .single-value-display {
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
            width: 50%;
            text-align: center;
        }


        &.block {
            display: block;

            label {
                display: block;
                text-align: center;
            }
            
            select,
            input {
                width: 100%;
            }
        }
    }
    
    
    /*** Min-max value display ***/
    .minmax-value-display{
        display: flex;
        align-items: center;

        label {
            flex-basis: 30%;
            margin-right: 10px;
        }
    }


    .items-list {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow-y: auto;
        scrollbar-width: thin;
        color: #444;

        .items-header {
            height: 28px;
            margin: 2px 0;
            padding: 0;
            align-items: center;
            background: rgba(0, 0, 0, 0.05);
            border: 2px groove #eeede0;
            font-weight: bold;
        }
    }

    
    .editable-text {
        cursor: pointer;
        padding-right: 10%;
        position: relative;
        display: block;

        &:hover{
            text-decoration: underline;

            input {
                cursor: pointer;
                box-shadow: inset 0 0 10px red;
            }

            &:after {
                content: '\f044';
                font-family: 'Font Awesome 6 Pro';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .rollable {
        &:focus,
        &:hover {
            cursor: pointer;

            box-shadow: inset 0 0 10px red;

            label {
                cursor: pointer;
            }

            .tooltip-text {
                text-shadow: initial;
            }
        }

        &.roll-icon{
            padding-right: 10px;
            position: relative;
            display: block;

            &:hover {
                &:after {
                    content: '\f6cf';
                    font-family: 'Font Awesome 6 Pro';
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    position: absolute;
                }
            }
        }
    }

    .item-control {
        cursor: pointer;
    }

    .flavor-text {
        font-style: italic;
    }
}