
.znz4e {
    .inventory {
        .items-list {
            margin-top: 30px;
            
            .items-header {
                flex-wrap: nowrap;
            }

            .item-name {
                flex-basis: 35%;
            }

            .item-type {
                flex-basis: 10%;
            }

            .item-weight {
                flex-basis: 10%;
            }

            .item-info {
                flex-basis: 25%;
            }

            .item-controls {
                flex-basis: 10%;
            }
        }

        .items-listing {
            margin: 10px 0;
            align-items: center;

            .item-name {
                display: flex;
                align-items: center;
                
                h4 {
                    margin: 0;
                }

                .item-image {
                    margin-right: 5px;
                }
            }

            .item-controls {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                justify-content: flex-end;
                padding-right: 20px;
            }

            .item-equip {
                font-size: 24px;
                margin-right: 15px;
            }

            .item-edit {
                margin-right: 5px;
            }
        }
    }
}