<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="120" width="120"/>
        <div class="charinfo">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{log data}}
    <div class="resource-list">
        {{#each data.resources as |res key|}}
            <div class="resource">
                <label for="data.resources.{{key}}.value" class="resource-label">{{res.label}}</label>
                <input type="text" name="data.resources.{{key}}.value" value="{{res.value}}" data-dtype="Number"/>
                {{#if res.max}}
                <span class="separator">/</span>
                <input type="text" name="data.resources.{{key}}.max" value="{{res.max}}" data-dtype="Number"/>
                {{/if}}
            </div>
        {{/each}}
    </div>

</form>
