{{#*inline "weight"}}
    <div class="field-row">
        <div class="row-label">{{localize data.weight.label}}</div>
        <div class="row-input"><input type="number" name="system.weight.value" value="{{data.weight.value}}" data-dtype="Number"/></div>
    </div>
{{/inline}}
{{#*inline "durability"}}
    <div class="field-row">
        <div class="row-label">{{localize data.durability.label}}</div>
        <div class="row-input"><input type="number" name="system.durability.value" value="{{data.durability.value}}" data-dtype="Number"/></div>
    </div>
{{/inline}}
{{#*inline "level"}}
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.levelLabel"}}</div>
        <div class="row-input"><input type="number" name="system.level.value" value="{{data.level.value}}" data-dtype="Number"/></div>
    </div>
{{/inline}}
{{#*inline "block"}}
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.blockLabel"}}</div>
        <div class="row-input"><input type="number" name="system.block.value" value="{{data.block.value}}" data-dtype="Number"/></div>
    </div>
{{/inline}}
{{#*inline "damage"}}
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.damageLabel"}}</div>
        <div class="row-input"><input type="number" name="system.damage.value" value="{{data.damage.value}}" data-dtype="Number"/></div>
    </div>
{{/inline}}
{{#*inline "durPerAttack"}}
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.itemDurabilityPerAttack"}}</div>
        <div class="row-input"><input type="number" name="system.durabilityPerAttack.value" value="{{data.durabilityPerAttack.value}}" data-dtype="Number"/></div>
    </div>
{{/inline}}
{{#*inline "durPerBlock"}}
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.itemDurabilityPerBlock"}}</div>
        <div class="row-input"><input type="number" name="system.durabilityPerBlock.value" value="{{data.durabilityPerBlock.value}}" data-dtype="Number"/></div>
    </div>
{{/inline}}
{{#*inline "durPerUse"}}
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.itemDurabilityPerUse"}}</div>
        <div class="row-input"><input type="number" name="system.durabilityPerUse.value" value="{{data.durabilityPerUse.value}}" data-dtype="Number"/></div>
    </div>
{{/inline}}
{{#*inline "weightPerUse"}}
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.itemWeightPerUse"}}</div>
        <div class="row-input"><input type="number" name="system.usesWeight.value" value="{{data.usesWeight.value}}" data-dtype="Number"/></div>
    </div>
{{/inline}}
{{#*inline "xpcost"}}
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.xpCost"}}</div>
        <div class="row-input"><input type="number" name="system.xpCost.value" value="{{data.xpCost.value}}" data-dtype="Number"/></div>
    </div>
{{/inline}}
{{#* inline "use-enable"}}
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.itemHasUses"}}</div>
        <div class="row-input"><input type="checkbox" name="system.hasUses" {{checked data.hasUses}}/></div>
    </div>
{{/inline}}

{{#*inline "uses"}}
    {{#if data.hasUses}}
        <div class="field-row">
            <div class="row-label">{{localize "ZNZRPG.itemUses"}}</div>
            <div class="row-input">
                <div class="minmax-value-display">
                    <input type="number" name="system.uses.current" value="{{data.uses.current}}" data-dtype="Number"/>
                    <span class="divider">/</span>
                    <input type="number" name="system.uses.max" value="{{data.uses.max}}" data-dtype="Number"/>
                </div>
            </div>
        </div>
        {{!-- {{#if data.durability}}{{> durPerUse }}{{/if}} --}}
        {{#if data.weight}}{{> weightPerUse }}{{/if}}
    {{/if}}
{{/inline}}


{{#*inline "rollable-enable"}}
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.itemHasRoll"}}</div>
        <div class="row-input"><input type="checkbox" name="system.rollable.hasRoll" {{checked data.rollable.hasRoll}}/></div>
    </div>
{{/inline}}

{{#*inline "rollable"}}
    {{#if data.rollable.hasRoll}}
        <div class="field-row">
            <div class="row-label">{{localize "ZNZRPG.attributeUsedLabel"}}</div>
            <div class="row-input">
                {{log data}}
                <select class="field-select" name="system.rollable.attribute" >
                    {{#select data.rollable.attribute}}
                        {{#each ActorAttributes as |attr a|}}
                            <option value="{{a}}">{{localize attr.label}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="field-row">
            <div class="row-label">{{localize "ZNZRPG.attributeBonusLabel"}}</div>
            <div class="row-input"><input type="number" name="system.rollable.bonus" value="{{data.rollable.bonus}}" data-dtype="Number"/></div>
        </div>
    {{/if}}
{{/inline}}

{{#*inline "block-enable"}}
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.itemHasBlock"}}</div>
        <div class="row-input"><input type="checkbox" name="system.hasBlock" {{checked data.hasBlock}}/></div>
    </div>
{{/inline}}

{{#*inline "blockoptions"}}
    {{#if data.hasBlock}}
        {{> block }}
        {{> durPerBlock }}
    {{/if}}
{{/inline}}




{{#*inline "attackRoll"}}
<div class="item-body-section">
    <h2>{{localize "ZNZRPG.attackRollLabel"}}</h2>
    <div class="actions">
        <input type="text" name="system.attackRoll" value="{{data.attackRoll}}"/>
    </div>
</div>
{{/inline}}
{{#*inline "blockRoll"}}
    <div class="item-body-section">
        <h2>{{localize "ZNZRPG.blockRollLabel"}}</h2>
        <div class="actions">
            <input type="text" name="system.blockRoll" value="{{data.blockRoll}}"/>
        </div>
    </div>
{{/inline}}
{{#*inline "useRoll"}}
    {{#if data.hasUses}}
        <div class="item-body-section">
            <h2>{{localize "ZNZRPG.useRollLabel"}}</h2>
            <div class="actions">
                <input type="text" name="system.useRoll" value="{{data.useRoll}}"/>
            </div>
        </div>
    {{/if}}
{{/inline}}

{{#*inline "actions"}}
    <div class="item-body-section custom-actions">
        <div class="flexrow">
            <h2>{{localize "ZNZRPG.actionsLabel"}}</h2>
            <div class="add-action">
                <a class="item-control item-sheet-action-add" title="{{localize "ZNZRPG.addActionLabel"}}">
                    Add<i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="actions">
            {{#each data.actions as |act ind|}}
                <div class="custom-action-row">
                    <div class="custom-action-name">
                        <input class="action-input-label" type="text" name="actions-{{ind}}"  data-index="{{ind}}" value="{{act.label}}" placeholder="{{localize "ZNZRPG.actionNamePlaceholder"}}"/>
                    </div>
                    <div class="custom-action-command">
                        <input class="action-input-command" type="text" name="actions-{{ind}}"  data-index="{{ind}}"  value="{{act.command}}" placeholder="{{localize "ZNZRPG.actionCommandPlaceholder"}}"/>
                    </div>
                    <div class="custom-action-delete">
                        <a class="item-control item-sheet-action-delete" title="{{localize "ZNZRPG.actionDelete"}}" data-index="{{ind}}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
{{/inline}}



{{#*inline "melee_weapon"}}
    {{> damage}}
    {{> block}}
    {{> durPerAttack}}
    {{> durPerBlock}}
{{/inline}}
{{#*inline "melee_weapon_footer"}}
    {{> attackRoll}}
    {{> blockRoll}}
    {{> actions}}
{{/inline}}



{{#*inline "ranged_weapon"}}
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.ammoLabel"}}</div>
        <div class="row-input">
            <div class="minmax-value-display">
                <input type="number" name="system.ammo.current" value="{{data.ammo.current}}" data-dtype="Number"/>
                <span class="divider">/</span>
                <input type="number" name="system.ammo.max" value="{{data.ammo.max}}" data-dtype="Number"/>
            </div>
        </div>
    </div>
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.rangeLabel"}}</div>
        <div class="row-input"><input type="text" name="system.rangeInfo" value="{{data.rangeInfo}}"/></div>
    </div>
    {{> damage}}
    {{> block}}
    {{> durPerAttack}}
    {{> durPerBlock}}
{{/inline}}
{{#*inline "ranged_weapon_footer"}}
    {{> attackRoll}}
    {{> blockRoll}}
    <!-- <div class="item-body-section">
        <h2>{{localize "ZNZRPG.reloadRollLabel"}}</h2>
        <div class="actions">
            <input type="text" name="system.reloadRoll" value="{{data.reloadRoll}}"/>
        </div>
    </div> -->
    {{> actions}}
{{/inline}}




{{#*inline "consumable"}}
    {{> uses}}
{{/inline}}
{{#*inline "consumable_footer"}}
    {{> useRoll}}
    {{> actions}}
{{/inline}}


{{#*inline "wearable"}}
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.itemAddedSlots"}}</div>
        <div class="row-input"><input type="text" name="system.equipslots.value" value="{{data.equipslots.value}}"/></div>
    </div>
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.itemDamageReduction"}}</div>
        <div class="row-input"><input type="text" name="system.damageReduction.value" value="{{data.damageReduction.value}}"/></div>
    </div>
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.durabilityPerReduce"}}</div>
        <div class="row-input"><input type="text" name="system.durabilityPerReduce.value" value="{{data.durabilityPerReduce.value}}"/></div>
    </div>
    {{> blockoptions }}
    {{> uses }}
{{/inline}}
{{#*inline "wearable_footer"}}
    {{#if data.hasBlock}}
        {{> blockRoll}}
    {{/if}}
    {{> useRoll}}
    {{> actions}}
{{/inline}}



{{#*inline "flaw"}}
{{/inline}}
{{#*inline "flaw_footer"}}
    {{> actions}}
{{/inline}}


{{#*inline "skill"}}
    {{> rollable}}
    {{> uses}}
{{/inline}}
{{#*inline "skill_footer"}}
    {{> useRoll}}
    {{> actions}}
{{/inline}}

<form class="{{cssClass}} znz-item inventory-item" autocomplete="off">
    <header class="sheet-header">
        <div class="sheet-header-container item-sheet">
            <div class="item-pre-header">
                <div class="item-type">{{unslugify item.type}}</div>
                <div class="item-option-bar">
                    {{#if data.rollable}}{{> rollable-enable}}{{/if}}
                    {{#if data.uses}}{{> use-enable}}{{/if}}
                    {{#if data.blockOptional}}{{> block-enable}}{{/if}}
                </div>
                <div class="item-subtype">
                    Subtype: <input name="system.subtype" type="text" value="{{data.subtype}}" placeholder="Subtype"/>
                </div>
            </div>
            <div class="item-name">
                <h1>
                    <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'ZNZRPG.nameLabel'}}"/>
                </h1>
            </div>
            <div class="item-info">
                <div class="item-image">
                    <img class="profile-img editable-image" src="{{item.img}}" data-edit="img" title="{{item.name}}" width="100" height="100"/>
                    <div class="sub-image fields-column">
                        {{#if data.level}}{{> level}}{{/if}}
                        {{#if data.weight}}{{> weight}}{{/if}}
                        {{#if data.durability}}{{> durability}}{{/if}}
                        {{#if data.xpCost}}{{> xpcost}}{{/if}}
                    </div>
                </div>
                <div class="header-fields fields-column">
                    {{> (lookup (lookup this "document") "type" )}}
                </div>
            </div>
        </div>
        
    </header>
    
    <section class="sheet-body item-sheet">
        <div class="item-body-section">
            <h2>{{localize "ZNZRPG.flavorLabel"}}</h2>
            <div class="flavor">
                <input type="text" name="system.flavor" value="{{data.flavor}}"/>
            </div>
        </div>
        <div class="item-body-section">
            <h2>{{localize "ZNZRPG.descriptionLabel"}}</h2>
            <div class="description">
                {{editor enrichedDescription target="system.description" button=true editable=editable}}
            </div>
        </div>
        {{> (concat (lookup (lookup this "document") "type") "_footer")}}

        <div class="item-body-section control-row">
            <a class="item-control item-sheet-delete btn-red" title="{{localize "ZNZRPG.deleteItem"}}">
                Delete Item
            </a>
            <a class="item-control item-sheet-copy btn-green" title="{{localize "ZNZRPG.copyItem"}}">
                Copy Item
            </a>
        </div>
    </section>
</form>
