.znz4e.sheet .item-sheet {
    .item-pre-header {
        font-weight: bold;
        font-size: 16px;
    }

    .item-type {
        font-size: 18px;
    }

    .item-name {
        margin-bottom: 7px;

        h1 {
            input {
                margin: 0!important;
                width: 100%;
            }
        }
    }

    .item-option-bar {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
        font-size: 10px;
        font-weight: 300;

        input[type="checkbox"] {
            width: 16px;
            height: 16px;
        }
    }

    .field-row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .item-info {
        display: flex;
        flex-wrap: nowrap;

        .item-image {
            flex-basis: 50%;
            margin-right: 20px;

            img {
                width: 100%;
                height: auto;
            }
        }


        .fields-column {
            flex: 1 1 100%;
            flex-direction: column;

            .field-row {
                width: 100%;
                margin-bottom: 5px;

                .row-label {
                    text-align: left;
                    flex-basis: 60%;
                }
        
                .row-input {
                    flex-basis: 40%;
        
                    input {
                        text-align: center;
                    }
                }
            }
        }

        
        .sub-image {
            margin-top: 5px;

            .field-row {
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;

                .row-label {
                    flex-basis: 50%;
                }

                .row-input {
                    flex-basis: 50%;
                }
            }
        }
    }




    .item-body-section {
        margin-bottom: 20px;
    }

    .custom-actions {
        h2 {
            margin-bottom: 10px;
        }

        .custom-action-row {
            margin-bottom: 5px;
            display: flex;
            align-items: center;

            .custom-action-name {
                flex-basis: 50%;
            }

            .custom-action-command {
                flex-basis: 40%;
            }

            .custom-action-delete {
                flex-basis: 10%;
            }
        }
    }

    .control-row {
        display: flex;
        gap: 10px;
        justify-content: flex-start;
        align-items: center;
    }

    select {
        width: 100%;
        text-align: center;
    }
}