{{#*inline "weight"}}
    <div class="field-row">
        <div class="row-label">{{localize data.weight.label}}</div>
        <div class="row-input"><input type="number" name="data.weight.value" value="{{data.weight.value}}" data-dtype="Number"/></div>
    </div>
{{/inline}}
{{#*inline "durability"}}
    <div class="field-row">
        <div class="row-label">{{localize data.durability.label}}</div>
        <div class="row-input"><input type="number" name="data.durability.value" value="{{data.durability.value}}" data-dtype="Number"/></div>
    </div>
{{/inline}}
{{#*inline "block"}}
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.blockLabel"}}</div>
        <div class="row-input"><input type="number" name="data.block.value" value="{{data.block.value}}" data-dtype="Number"/></div>
    </div>
{{/inline}}
{{#*inline "damage"}}
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.damageLabel"}}</div>
        <div class="row-input"><input type="number" name="data.damage.value" value="{{data.damage.value}}" data-dtype="Number"/></div>
    </div>
{{/inline}}
{{#*inline "durPerAttack"}}
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.itemDurabilityPerAttack"}}</div>
        <div class="row-input"><input type="number" name="data.durabilityPerAttack.value" value="{{data.durabilityPerAttack.value}}" data-dtype="Number"/></div>
    </div>
{{/inline}}
{{#*inline "durPerBlock"}}
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.itemDurabilityPerBlock"}}</div>
        <div class="row-input"><input type="number" name="data.durabilityPerBlock.value" value="{{data.durabilityPerBlock.value}}" data-dtype="Number"/></div>
    </div>
{{/inline}}
{{#*inline "durPerUse"}}
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.itemDurabilityPerUse"}}</div>
        <div class="row-input"><input type="number" name="data.durabilityPerUse.value" value="{{data.durabilityPerUse.value}}" data-dtype="Number"/></div>
    </div>
{{/inline}}
{{#*inline "weightPerUse"}}
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.itemWeightPerUse"}}</div>
        <div class="row-input"><input type="number" name="data.usesWeight.value" value="{{data.usesWeight.value}}" data-dtype="Number"/></div>
    </div>
{{/inline}}

{{#*inline "uses"}}
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.itemHasUses"}}</div>
        <div class="row-input"><input type="checkbox" name="data.hasUses" {{checked data.hasUses}}/></div>
    </div>
    {{#if data.hasUses}}
        <div class="field-row">
            <div class="row-label">{{localize "ZNZRPG.itemUses"}}</div>
            <div class="row-input">
                <div class="minmax-value-display">
                    <input type="number" name="data.uses.current" value="{{data.uses.current}}" data-dtype="Number"/>
                    <span class="divider">/</span>
                    <input type="number" name="data.uses.max" value="{{data.uses.max}}" data-dtype="Number"/>
                </div>
            </div>
        </div>
        {{> durPerUse }}
        {{> weightPerUse }}
    {{/if}}
{{/inline}}

{{#*inline "toggleBlock"}}
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.itemHasBlock"}}</div>
        <div class="row-input"><input type="checkbox" name="data.hasBlock" {{checked data.hasBlock}}/></div>
    </div>
    {{#if data.hasBlock}}
        {{> block }}
        {{> durPerBlock }}
    {{/if}}
{{/inline}}




{{#*inline "attackRoll"}}
<div class="item-body-section">
    <h2>{{localize "ZNZRPG.attackRollLabel"}}</h2>
    <div class="actions">
        <input type="text" name="data.attackRoll" value="{{data.attackRoll}}"/>
    </div>
</div>
{{/inline}}
{{#*inline "blockRoll"}}
    <div class="item-body-section">
        <h2>{{localize "ZNZRPG.blockRollLabel"}}</h2>
        <div class="actions">
            <input type="text" name="data.blockRoll" value="{{data.blockRoll}}"/>
        </div>
    </div>
{{/inline}}
{{#*inline "useRoll"}}
    {{#if data.hasUses}}
        <div class="item-body-section">
            <h2>{{localize "ZNZRPG.useRollLabel"}}</h2>
            <div class="actions">
                <input type="text" name="data.useRoll" value="{{data.useRoll}}"/>
            </div>
        </div>
    {{/if}}
{{/inline}}

{{#*inline "actions"}}
    <div class="item-body-section custom-actions">
        <div class="flexrow">
            <h2>{{localize "ZNZRPG.actionsLabel"}}</h2>
            <div class="add-action">
                <a class="item-control item-sheet-action-add" title="{{localize "ZNZRPG.addActionLabel"}}">
                    Add<i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="actions">
            {{#each data.actions as |act ind|}}
                <div class="custom-action-row">
                    <div class="custom-action-name">
                        <input class="action-input-label" type="text" name="actions-{{ind}}"  data-index="{{ind}}" value="{{act.label}}" placeholder="{{localize "ZNZRPG.actionNamePlaceholder"}}"/>
                    </div>
                    <div class="custom-action-command">
                        <input class="action-input-command" type="text" name="actions-{{ind}}"  data-index="{{ind}}"  value="{{act.command}}" placeholder="{{localize "ZNZRPG.actionCommandPlaceholder"}}"/>
                    </div>
                    <div class="custom-action-delete">
                        <a class="item-control item-sheet-action-delete" title="{{localize "ZNZRPG.actionDelete"}}" data-index="{{ind}}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
{{/inline}}



{{#*inline "melee_weapon"}}
    {{> damage}}
    {{> block}}
    {{> durPerAttack}}
    {{> durPerBlock}}
{{/inline}}
{{#*inline "melee_weapon_footer"}}
    {{> attackRoll}}
    {{> blockRoll}}
    {{> actions}}
{{/inline}}



{{#*inline "ranged_weapon"}}
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.ammoLabel"}}</div>
        <div class="row-input">
            <div class="minmax-value-display">
                <input type="number" name="data.ammo.current" value="{{data.ammo.current}}" data-dtype="Number"/>
                <span class="divider">/</span>
                <input type="number" name="data.ammo.max" value="{{data.ammo.max}}" data-dtype="Number"/>
            </div>
        </div>
    </div>
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.rangeLabel"}}</div>
        <div class="row-input"><input type="text" name="data.rangeInfo" value="{{data.rangeInfo}}"/></div>
    </div>
    {{> damage}}
    {{> block}}
    {{> durPerAttack}}
    {{> durPerBlock}}
{{/inline}}
{{#*inline "ranged_weapon_footer"}}
    {{> attackRoll}}
    {{> blockRoll}}
    <div class="item-body-section">
        <h2>{{localize "ZNZRPG.reloadRollLabel"}}</h2>
        <div class="actions">
            <input type="text" name="data.reloadRoll" value="{{data.reloadRoll}}"/>
        </div>
    </div>
    {{> actions}}
{{/inline}}




{{#*inline "consumable"}}
    {{> uses}}
{{/inline}}
{{#*inline "consumable_footer"}}
    {{> useRoll}}
    {{> actions}}
{{/inline}}


{{#*inline "wearable"}}
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.itemAddedSlots"}}</div>
        <div class="row-input"><input type="text" name="data.equipslots.value" value="{{data.equipslots.value}}"/></div>
    </div>
    <div class="field-row">
        <div class="row-label">{{localize "ZNZRPG.itemDamageReduction"}}</div>
        <div class="row-input"><input type="text" name="data.damageReduction.value" value="{{data.damageReduction.value}}"/></div>
    </div>
    {{> toggleBlock }}
    {{> uses }}
{{/inline}}
{{#*inline "wearable_footer"}}
    {{#if data.hasBlock}}
        {{> blockRoll}}
    {{/if}}
    {{> useRoll}}
    {{> actions}}
{{/inline}}



{{#*inline "ability"}}
    Ability
{{/inline}}
{{#*inline "ability_footer"}}
    {{> actions}}
{{/inline}}



{{#*inline "skill"}}
    Skill
{{/inline}}
{{#*inline "skill_footer"}}
{{/inline}}

<form class="{{cssClass}} znz-item inventory-item" autocomplete="off">
    <header class="sheet-header">
        <div class="sheet-header-container item-sheet">
            <div class="item-pre-header">
                <div>{{unslugify item.type}}</div>
                <div class="item-subtype">
                    Subtype: <input name="data.subtype" type="text" value="{{data.subtype}}" placeholder="Subtype"/>
                </div>
            </div>
            <div class="item-name">
                <h1>
                    <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'ZNZRPG.nameLabel'}}"/>
                </h1>
            </div>
            <div class="item-info">
                <div class="item-image">
                    <img class="profile-img editable-image" src="{{item.img}}" data-edit="img" title="{{item.name}}" width="100" height="100"/>
                    <div class="sub-image fields-column">
                        {{> weight}}
                        {{> durability}}
                    </div>
                </div>
                <div class="header-fields fields-column">
                    {{> (lookup (lookup this "document") "type" )}}
                </div>
            </div>
        </div>
        
    </header>
    
    <section class="sheet-body item-sheet">
        <div class="item-body-section">
            <h2>{{localize "ZNZRPG.flavorLabel"}}</h2>
            <div class="flavor">
                <input type="text" name="data.flavor" value="{{data.flavor}}"/>
            </div>
        </div>
        <div class="item-body-section">
            <h2>{{localize "ZNZRPG.descriptionLabel"}}</h2>
            <div class="description">
                {{editor enrichedDescription target="system.description" button=true editable=editable}}
            </div>
        </div>
        {{> (concat (lookup (lookup this "document") "type") "_footer")}}

        <div class="item-body-section">
            <a class="item-control item-sheet-delete btn-red" title="{{localize "ZNZRPG.deleteItem"}}">
                Delete Item
            </a>
        </div>
    </section>
</form>
