<form class="{{cssClass}} znz-item inventory-item" autocomplete="off">
    <header class="sheet-header">
        <div class="sheet-header-container">
            <div class="pre-header">Survival Skill</div>
			<div class="flexrow">
                <h1 class="charname">
                    <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'ZNZRPG.nameLabel'}}"/>
                </h1>
			</div>
			<div class="flexrow">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" width="100" height="100"/>
                <div class="header-fields item-block-fields">
                    <div class="type single-value-display block">
                        <label>{{localize data.attributeUsed.label}}</label>
                        <select name="data.attributeUsed.value" value="{{data.attributeUsed.value}}">
                            {{#each ActorAttributes as |attr key|}}
                                <option value="{{key}}" {{#ifCond ../data.attributeUsed.value '===' key}} selected{{/ifCond}}>{{localize attr.label}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="level single-value-display block">
                        <label>{{localize data.level.label}}</label>
                        <input type="text" name="data.level.value" value="{{data.level.value}}" data-dtype="Number"/>
                    </div>
                </div>
			</div>
		</div>
        
    </header>

    <section class="sheet-body">
        <h2>Description</h2>
        <div class="flavor">
            <input type="text" name="equip.system.flavor" value="{{equip.system.flavor}}"/>
        </div>
        <div class="description">
            {{editor enrichedDescription target="system.description" button=true editable=editable}}
        </div>
    </section>
</form>
