input[type="number"] {
  width: calc(100% - 2px);
  min-width: 20px;
  background: rgba(0, 0, 0, 0.05);
  padding: 1px 3px;
  margin: 0;
  user-select: text; }

aside#tooltip ul {
  text-align: left; }

.single-number input[type=number] {
  appearance: textfield; }

.znz4e.sheet .item-sheet .item-pre-header {
  font-weight: bold;
  font-size: 16px; }

.znz4e.sheet .item-sheet .item-name {
  margin-bottom: 7px; }
  .znz4e.sheet .item-sheet .item-name h1 input {
    margin: 0 !important;
    width: 100%; }

.znz4e.sheet .item-sheet .item-info {
  display: flex;
  flex-wrap: nowrap; }
  .znz4e.sheet .item-sheet .item-info .item-image {
    flex-basis: 50%;
    margin-right: 20px; }
    .znz4e.sheet .item-sheet .item-info .item-image img {
      width: 100%;
      height: auto; }
  .znz4e.sheet .item-sheet .item-info .item-block-fields {
    flex: 1 1 100%; }
    .znz4e.sheet .item-sheet .item-info .item-block-fields .item-block-row {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 2px; }
      .znz4e.sheet .item-sheet .item-info .item-block-fields .item-block-row .row-label {
        text-align: right;
        flex-basis: 25%;
        margin-right: 20px; }
      .znz4e.sheet .item-sheet .item-info .item-block-fields .item-block-row .row-input {
        flex-basis: 50%; }
        .znz4e.sheet .item-sheet .item-info .item-block-fields .item-block-row .row-input input {
          text-align: center; }

.znz4e.sheet .item-sheet .item-body-section {
  margin-bottom: 20px; }

.znz4e {
  /*** Tool Tip ****/
  /*** Single value display ***/
  /*** Min-max value display ***/ }
  .znz4e .tooltip {
    cursor: pointer;
    position: relative;
    overflow: visible; }
    .znz4e .tooltip .tooltip-text {
      visibility: hidden;
      width: 250px;
      background-color: #000;
      color: #fff;
      border-radius: 6px;
      padding: 8px;
      position: absolute;
      z-index: 100;
      top: 100%;
      /* Position below the element */
      left: 50%;
      transform: translateX(-50%);
      /* Center the tooltip horizontally */
      opacity: 0;
      transition: opacity 0.3s, visibility 0.3s; }
    .znz4e .tooltip.right .tooltip-text {
      left: 100%;
      transform: none;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 10px; }
    .znz4e .tooltip:hover .tooltip-text {
      visibility: visible;
      opacity: 1; }
  .znz4e .single-value-display {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .znz4e .single-value-display input {
      width: 50%;
      text-align: center; }
    .znz4e .single-value-display.block {
      display: block; }
      .znz4e .single-value-display.block label {
        display: block;
        text-align: center; }
      .znz4e .single-value-display.block select,
      .znz4e .single-value-display.block input {
        width: 100%; }
  .znz4e .minmax-value-display {
    display: flex;
    align-items: center; }
    .znz4e .minmax-value-display label {
      flex-basis: 30%;
      margin-right: 10px; }
    .znz4e .minmax-value-display .divider {
      margin: 0 5px;
      font-weight: 700;
      display: block; }
  .znz4e .items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    color: #444; }
    .znz4e .items-list .items-header {
      height: 28px;
      margin: 2px 0;
      padding: 0;
      align-items: center;
      background: rgba(0, 0, 0, 0.05);
      border: 2px groove #eeede0;
      font-weight: bold; }
  .znz4e .editable-text {
    cursor: pointer;
    padding-right: 10%;
    position: relative;
    display: block; }
    .znz4e .editable-text:hover {
      text-decoration: underline; }
      .znz4e .editable-text:hover input {
        cursor: pointer;
        box-shadow: inset 0 0 10px red; }
      .znz4e .editable-text:hover:after {
        content: '\f044';
        font-family: 'Font Awesome 6 Pro';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%); }
  .znz4e .rollable:focus, .znz4e .rollable:hover {
    cursor: pointer;
    box-shadow: inset 0 0 10px red; }
    .znz4e .rollable:focus label, .znz4e .rollable:hover label {
      cursor: pointer; }
    .znz4e .rollable:focus .tooltip-text, .znz4e .rollable:hover .tooltip-text {
      text-shadow: initial; }
  .znz4e .rollable.roll-icon {
    padding-right: 10px;
    position: relative;
    display: block; }
    .znz4e .rollable.roll-icon:hover:after {
      content: '\f6cf';
      font-family: 'Font Awesome 6 Pro';
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      position: absolute; }
  .znz4e .editable-image,
  .znz4e .item-control {
    cursor: pointer; }
  .znz4e .flavor-text {
    font-style: italic; }
  .znz4e .has-tooltip {
    cursor: pointer;
    text-decoration: dotted underline; }
  .znz4e .btn-red {
    background-color: #8B0000;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-color 0.3s; }
    .znz4e .btn-red:hover {
      background-color: #3f0000; }

.znz4e .znz-item .sheet-body {
  padding: 10px; }
  .znz4e .znz-item .sheet-body h2 {
    font-size: 16px;
    border: none;
    margin: 0; }
  .znz4e .znz-item .sheet-body .description {
    border: solid 1px black;
    height: 100px; }

.znz4e .znz-item.inventory-item .sheet-body .description {
  height: 180px; }

.znz4e .znz-item .item-block-fields {
  display: flex;
  flex-wrap: wrap; }
  .znz4e .znz-item .item-block-fields .block {
    width: 100px;
    margin-right: 20px; }
    .znz4e .znz-item .item-block-fields .block.roll {
      width: 200px; }

.znz4e .items-list {
  overflow: visible; }
  .znz4e .items-list .items-header {
    flex-wrap: nowrap; }
  .znz4e .items-list .item-edit:hover {
    text-shadow: inset 0 0 10px red; }
  .znz4e .items-list .items-listing {
    margin: 10px 0;
    align-items: center; }
    .znz4e .items-list .items-listing .item-name {
      display: flex;
      align-items: center;
      flex-basis: 35%; }
      .znz4e .items-list .items-listing .item-name h4 {
        margin: 0; }
      .znz4e .items-list .items-listing .item-name .item-image {
        margin-right: 5px; }
    .znz4e .items-list .items-listing .item-controls {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: flex-end;
      padding-right: 20px;
      flex-basis: 10%; }
      .znz4e .items-list .items-listing .item-controls .item-edit {
        margin-right: 5px; }

.znz4e .inventory .items-list {
  margin-top: 30px; }
  .znz4e .inventory .items-list .item-name {
    flex-basis: 35%; }
  .znz4e .inventory .items-list .item-type {
    flex-basis: 10%; }
  .znz4e .inventory .items-list .item-weight {
    flex-basis: 10%; }
  .znz4e .inventory .items-list .item-info {
    flex-basis: 25%; }
  .znz4e .inventory .items-list .item-controls {
    flex-basis: 10%; }

.znz4e .inventory .items-listing .item-equip {
  font-size: 24px;
  margin-right: 15px; }

.znz4e .items-list.abilities-list .item-name {
  flex-basis: 35%; }

.znz4e .items-list.abilities-list .item-level {
  flex-basis: 10%; }

.znz4e .items-list.abilities-list .item-roll {
  flex-basis: 20%; }

.znz4e .items-list.abilities-list .item-description {
  flex-basis: 25%; }

.znz4e .items-list.abilities-list .item-controls {
  flex-basis: 10%; }

.znz4e .abilities h2 {
  margin-top: 30px;
  border-bottom: none; }

.znz4e .flaws-list {
  margin-bottom: 50px; }
  .znz4e .flaws-list .item-name {
    flex-basis: 35%; }
  .znz4e .flaws-list .item-description {
    flex-basis: 55%; }
  .znz4e .flaws-list .item-controls {
    flex-basis: 10%; }

.znz4e .character-notes .editor,
.znz4e .description .editor {
  height: 100%; }

.znz4e.sheet nav.sheet-tabs {
  justify-content: flex-start; }
  .znz4e.sheet nav.sheet-tabs .item {
    flex: 1 1 100%;
    border-right: solid 1px var(--color-border-light-primary); }
    .znz4e.sheet nav.sheet-tabs .item.small {
      flex-basis: 10%; }

.znz4e .character-notes {
  height: 300px; }
  .znz4e .character-notes .editor {
    border: solid 1px black;
    margin: 20px; }

.znz4e .bold {
  font-weight: 700; }

.znz4e .bulk-listing,
.znz4e .slot-listing {
  width: 45%;
  margin-bottom: 10px; }
  .znz4e .bulk-listing h2,
  .znz4e .slot-listing h2 {
    display: flex;
    justify-content: space-between; }
  .znz4e .bulk-listing .minmax-value-display .over-equipped,
  .znz4e .slot-listing .minmax-value-display .over-equipped {
    color: red; }

.znz4e .inventory-listing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; }
  .znz4e .inventory-listing .bulk-listing {
    flex-basis: 40%; }
  .znz4e .inventory-listing .add-item {
    width: 10%; }


.znz-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 8px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease; }
  .znz-card .card-header {
    width: 100%; }
    .znz-card .card-header .card-title {
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 3px 0;
      background-color: black;
      color: white;
      border-radius: 5px; }
      .znz-card .card-header .card-title h3, .znz-card .card-header .card-title h4 {
        border: none;
        margin: 0; }
      .znz-card .card-header .card-title h4 {
        color: yellow; }
    .znz-card .card-header .card-weight {
      min-width: 40px;
      border-radius: 50%;
      border: solid 3px black;
      background-color: red;
      color: white;
      font-size: 20px;
      width: 40px;
      height: 40px;
      text-align: center;
      font-weight: 500;
      text-decoration: none;
      margin-right: 5px;
      display: flex;
      align-items: center;
      justify-content: center; }
    .znz-card .card-header .card-name {
      flex: 1 1 100%; }
    .znz-card .card-header .card-delete {
      width: 20px;
      color: red;
      margin-right: 5px;
      align-self: start; }
    .znz-card .card-header .card-corner {
      flex-basis: 20%; }
      .znz-card .card-header .card-corner:first-child {
        margin-right: 5px; }
      .znz-card .card-header .card-corner:last-child {
        margin-left: 5px; }
      .znz-card .card-header .card-corner img {
        width: 30px; }
  .znz-card .card-info {
    width: 100%;
    padding: 4px;
    margin: 5px 0;
    background-color: rgba(255, 255, 255, 0.95);
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .znz-card .card-info .card-description {
      text-align: left; }
      .znz-card .card-info .card-description p {
        margin-top: 0; }
  .znz-card .card-image {
    background-color: transparent;
    position: relative;
    background-color: black;
    padding: 0 10%;
    margin-top: -3px;
    padding-bottom: 7.5%;
    text-align: center; }
    .znz-card .card-image img {
      width: 90%;
      height: auto; }
    .znz-card .card-image .card-image-control {
      color: white;
      background-color: green;
      border-top: solid 2px white; }
    .znz-card .card-image .card-durability {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 2px 4px;
      border-right: solid 2px white; }
    .znz-card .card-image .card-equip-action {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 2px 4px;
      border-left: solid 2px white;
      transition: all 0.3s ease; }
      .znz-card .card-image .card-equip-action:hover {
        background-color: orange; }
  .znz-card .card-details {
    border-top: solid 1px var(--color-border-light-primary);
    line-height: 1;
    padding-top: 5px; }
  .znz-card .card-info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .znz-card .card-info-row .range-output {
      overflow: hidden;
      text-overflow: clip;
      width: 30px;
      display: inline-block;
      vertical-align: bottom; }
  .znz-card .card-action-row {
    display: flex;
    justify-content: start;
    column-gap: 5px;
    row-gap: 5px;
    flex-wrap: wrap;
    margin-top: 7px; }
  .znz-card .card-action-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease; }
    .znz-card .card-action-button:hover {
      background-color: orange; }

.znz-card.melee_weapon {
  background-color: #992d2d; }

.znz-card.ranged_weapon {
  background-color: #1f3667; }

.znz-card.consumable {
  background-color: #add8e6; }

.items-container {
  display: flex;
  column-gap: 5px;
  row-gap: 5px;
  flex-wrap: wrap; }
  .items-container .znz-card {
    width: 225px;
    z-index: 3; }
  .items-container.is-fixed-width {
    flex-wrap: nowrap; }
    .items-container.is-fixed-width .znz-card {
      min-width: 225px;
      position: relative;
      transition: all 0.3s ease; }
      .items-container.is-fixed-width .znz-card:hover {
        z-index: 5;
        transform: translateY(-10px) rotate(0deg) scale(1.1); }

header.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: start;
  margin-bottom: 10px;
  padding: 10px;
  flex-wrap: nowrap;
  overflow: visible; }
  header.sheet-header .sheet-header-container {
    width: 100%; }

.name-row .status-number {
  text-align: center; }

.name-row .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px; }

.name-row .name-input {
  flex-basis: 56%; }

.name-row .status-input {
  flex-basis: 35%;
  column-count: 3;
  column-gap: 5px; }

.name-row .is-red input {
  color: red; }

.name-row .status-input input,
.name-row h1 input {
  height: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 10px; }

.character-stats {
  justify-content: start;
  flex-wrap: nowrap;
  column-gap: 15px;
  align-items: flex-start; }
  .character-stats meter#energy-meter::-webkit-meter-optimum-value {
    background: #0763e5; }
  .character-stats meter#satiety-meter::-webkit-meter-optimum-value {
    background: red; }
  .character-stats meter#morale-meter::-webkit-meter-optimum-value {
    background: purple; }
  .character-stats .cost-text {
    font-size: 11px;
    color: #8B0000; }
  .character-stats .resources-section {
    flex-basis: 35%;
    row-gap: 10px; }
  .character-stats .attribute-section {
    flex-basis: 65%; }
  .character-stats .attribute-layout {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: space-between; }

.resource-content {
  display: flex;
  flex-wrap: nowrap;
  align-items: center; }
  .resource-content:last-child {
    margin-bottom: 0; }
  .resource-content label {
    text-align: right;
    flex-basis: 10%;
    margin-right: 8px; }
  .resource-content input {
    border: solid gray 1px;
    width: 36px; }
  .resource-content meter {
    flex-basis: 60%;
    margin-right: 8px; }
  .resource-content .minmax-value-display {
    flex-basis: 30%; }

.attr-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .attr-block .attr-label {
    font-weight: 700;
    width: 100%; }
  .attr-block .attr-label, .attr-block .attr-under {
    text-transform: uppercase;
    text-align: center; }
  .attr-block .attr-under {
    font-size: 10px;
    color: #443730;
    opacity: 0.7; }
  .attr-block input {
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 700; }

.base-skill-row {
  background-color: var(--color-text-dark-primary);
  columns: 3;
  margin-top: 5px; }

.base-skill {
  padding: 2px 3px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .base-skill .skill-name {
    font-weight: 700;
    margin-bottom: 5px; }
  .base-skill .skill-level {
    display: flex;
    flex-wrap: nowrap;
    align-items: center; }
    .base-skill .skill-level input {
      width: 30px;
      text-align: center;
      background-color: white; }
